/* ==UserStyle==
@name           Teams Catppuccin
@namespace      github.com/benjilegnard/catppuccin-teams
@version        0.0.3
@description    Soothing pastel theme for Teams.
@author         benjilegnard
@updateURL      https://raw.githubusercontent.com/benjilegnard/catppuccin-teams/main/css/teams-catppuccin.user.css

@preprocessor stylus

@var select stylusAccent "Accent color" [
	"Rosewater",
	"Flamingo",
	"Pink",
	"Mauve",
	"Red",
    "Maroon",
	"Peach",
	"Yellow",
    "Green",
	"Teal",
	"Sky",
    "Sapphire",
	"Blue",
	"Lavender"
]

@var select stylusFlavor "Catppuccin Flavor" [
    "Latte",
    "Frappe",
    "Macchiato",
    "Mocha",
    "Espresso"
]
==/UserStyle== */

@-moz-document domain("teams.microsoft.com") {
    :root {
        if stylusFlavor=="Latte" {
            --rosewater: #dc8a78;
            --flamingo : #dd7878;
            --pink     : #ea76cb;
            --mauve    : #8839ef;
            --red      : #d20f39;
            --maroon   : #e64553;
            --peach    : #fe640b;
            --yellow   : #df8e1d;
            --green    : #40a02b;
            --teal     : #179299;
            --sky      : #04a5e5;
            --sapphire : #209fb5;
            --blue     : #1e66f5;
            --lavender : #7287fd;
            --text     : #4c4f69;
            --subtext1 : #5c5f77;
            --subtext0 : #6c6f85;
            --overlay2 : #7c7f93;
            --overlay1 : #8c8fa1;
            --overlay0 : #9ca0b0;
            --surface2 : #acb0be;
            --surface1 : #bcc0cc;
            --surface0 : #ccd0da;
            --base     : #eff1f5;
            --mantle   : #e6e9ef;
            --crust    : #dce0e8;

            /* non-standard colors */
            --surface1Transparent: #bcc0ccbd;
            --mist: #dce0e8bd; 
        }
        else if stylusFlavor=="Frappe" {
            --rosewater: #f2d5cf;
            --flamingo : #eebebe;
            --pink     : #f4b8e4;
            --mauve    : #ca9ee6;
            --red      : #e78284;
            --maroon   : #ea999c;
            --peach    : #ef9f76;
            --yellow   : #e5c890;
            --green    : #a6d189;
            --teal     : #81c8be;
            --sky      : #99d1db;
            --sapphire : #85c1dc;
            --blue     : #8caaee;
            --lavender : #babbf1;
            --text     : #c6d0f5;
            --subtext1 : #b5bfe2;
            --subtext0 : #a5adce;
            --overlay2 : #9f9cbb;
            --overlay1 : #838ba7;
            --overlay0 : #737994;
            --surface2 : #626880;
            --surface1 : #51576d;
            --surface0 : #414559;
            --base     : #303446;
            --mantle   : #292c3c;
            --crust    : #232634;

            /* non-standard colors */
            --surface1Transparent: #51576dbd;
            --mist: #232634bd;
        }
        else if stylusFlavor=="Macchiato" {
            --rosewater: #f4dbd6;
            --flamingo : #f0c6c6;
            --pink     : #f5bde6;
            --mauve    : #c6a0f6;
            --red      : #ed8796;
            --maroon   : #ee99a0;
            --peach    : #f5a97f;
            --yellow   : #eed49f;
            --green    : #a6da95;
            --teal     : #8bd5ca;
            --sky      : #91d7e3;
            --sapphire : #7dc4e4;
            --blue     : #8aadf4;
            --lavender : #b7bdf8;
            --text     : #cad3f5;
            --subtext1 : #b8c0e0;
            --subtext0 : #a5adcb;
            --overlay2 : #939ab7;
            --overlay1 : #8087a2;
            --overlay0 : #6e738d;
            --surface2 : #5b6078;
            --surface1 : #494d64;
            --surface0 : #363a4f;
            --base     : #24273a;
            --mantle   : #1e2030;
            --crust    : #181926;

            /* non-standard colors */
            --surface1Transparent: #494d64bd;
            --mist: #181926bd;
        }
        else if stylusFlavor=="Mocha" {
            --rosewater: #f5e0dc;
            --flamingo : #f2cdcd;
            --pink     : #f5c2e7;
            --mauve    : #cba6f7;
            --red      : #f38ba8;
            --maroon   : #eba0ac;
            --peach    : #fab387;
            --yellow   : #f9e2af;
            --green    : #a6e3a1;
            --teal     : #94e2d5;
            --sky      : #89dceb;
            --sapphire : #74c7ec;
            --blue     : #89b4fa;
            --lavender : #b4befe;
            --text     : #cdd6f4;
            --subtext1 : #bac2de;
            --subtext0 : #a6adc8;
            --overlay2 : #9399b2;
            --overlay1 : #7f849c;
            --overlay0 : #6c7086;
            --surface2 : #585b70;
            --surface1 : #45475a;
            --surface0 : #313244;
            --base     : #1e1e2e;
            --mantle   : #181825;
            --crust    : #11111b;

            /* non-standard colors */
            --surface1Transparent: #45475abd;
            --mist: #11111bbd;
        }
        else if stylusFlavor=="Espresso" {
            --rosewater: #f5e0dc;
            --flamingo : #f2cdcd;
            --pink     : #f5c2e7;
            --mauve    : #cba6f7;
            --red      : #f38ba8;
            --maroon   : #eba0ac;
            --peach    : #fab387;
            --yellow   : #f9e2af;
            --green    : #a6e3a1;
            --teal     : #94e2d5;
            --sky      : #89dceb;
            --sapphire : #74c7ec;
            --blue     : #89b4fa;
            --lavender : #b4befe;
            --text     : #cdd6f4;
            --subtext1 : #bac2de;
            --subtext0 : #a6adc8;
            --overlay2 : #9399b2;
            --overlay1 : #7f849c;
            --overlay0 : #6c7086;
            --surface2 : #585b70;
            --surface1 : #45475a;
            --surface0 : #313244;
            --base     : #020202;
            --mantle   : #010101;
            --crust    : #000000;

            /* non-standard colors */
            --surface1Transparent: #45475abd;
            --mist: #000000bd;
        }
        
        if stylusAccent=="Rosewater" {
            --accent: var(--rosewater);
        }
        else if stylusAccent=="Flamingo" {
            --accent: var(--flamingo);
        }
        else if stylusAccent=="Pink" {
            --accent: var(--pink);
        }
        else if stylusAccent=="Mauve" {
            --accent: var(--mauve);
        }
        else if stylusAccent=="Red" {
            --accent: var(--red);
        }
        else if stylusAccent=="Maroon" {
            --accent: var(--maroon);
        }
        else if stylusAccent=="Peach" {
            --accent: var(--peach);
        }
        else if stylusAccent=="Yellow" {
            --accent: var(--yellow);
        }
        else if stylusAccent=="Green" {
            --accent: var(--green);
        }
        else if stylusAccent=="Teal" {
            --accent: var(--teal);
        }
        else if stylusAccent=="Sky" {
            --accent: var(--sky);
        }
        else if stylusAccent=="Sapphire" {
            --accent: var(--sapphire);
        }
        else if stylusAccent=="Blue" {
            --accent: var(--blue);
        }
        else if stylusAccent=="Lavender" {
            --accent: var(--lavender);
        }
    }
    
    /* APP BAR */
    /* left icon bar and activity panel / rail */
    .app-bar {
        background-color: var(--mantle);
    }

    .ts-left-rail {
        color: var(--text);
        background-color: var(--base);
    }

    .app-bar ul button:hover,
    .app-bar ul a:hover {
        background-color: var(--crust) !important;
    }

    /* HEADER BAR */
    .app-header-bar {
        background-color: var(--mantle);
    }

    /* search field */
    .ts-header-search {
        background-color: var(--crust) !important;
    }

    /* hover on my-profile */
    .app-header-bar .me-profile:hover,
    body.acc-keyboard-mode .app-header-bar .me-profile:focus {
        background-color: var(--crust) !important;
    }

    /* MIDDLE PANE */
    .ts-middle {
        background-color: var(--base) !important;
    }

    .ts-middle-messages-body,
    .ts-middle-messages-container,
    .ts-tab-content,
    .ts-embedded-container {
        background: var(--base) !important;
    }

    virtual-repeat .item-wrap {
        background: var(--base) !important;
    }

    /* LIST CONTENT / MESSAGES */
    .message-list-divider-text {
        background-color: var(--mantle) !important;

    }

    .message-list-common:not(.chat-style) thread .ts-message .conversation-common.conversation-start .media .ts-message-thread-body:not(.keep-hover-focus):not(.keep-hover-focus-with-popover) .message-body,
    .message-list-common:not(.chat-style) thread .ts-message .conversation-common.conversation-start .media .ts-message-thread-body:not(.keep-hover-focus):not(.keep-hover-focus-with-popover) .message-body .message-actions-container {

        background-color: var(--mantle) !important;
    }

    .ts-reply-message .icons-reply.ts-sym {

        background-color: var(--crust) !important;
    }

    .message-list-common:not(.chat-style) thread .ts-message .conversation-common.conversation-reply .media,
    .message-list-common:not(.chat-style) thread .ts-message .conversation-common.conversation-reply .media .message-actions-container,
    thread-collapsed .media {

        background-color: var(--mantle) !important;
    }
}
